{
    "setup": {
        "guildID": "GUILD_ID",
        "channelID": "CHANNEL_ID",
        "roleID": "ROLE_ID",
        "adminRoleID": "ADMIN_ROLE_ID",
        "enableDebugLogs": false
    },
    "message": {
        "plainMessage": "Hey you, drink water now!",
        "useEmbeds": false,
        "embedTimestamp": false,
        "embedTitle": "EMBED_TITLE",
        "embedDescription": "EMBED_DESCRIPTION",
        "embedFooter": "EMBED_FOOTER",
        "embedThumbnail": "EMBED_THUMBNAIL_DIRECT_URL",
        "embedImage": "EMBED_IMAGE_DIRECT_URL",
        "embedColour": "EMBED_COLOUR",
        "intervalInSeconds": 3600
    },
    "commandConfig": {
        "prefix": "!",
        "allowCommands": true,
        "adminOnlyCmds": false
    },
    "enabledCommands": {
        "ping": true,
        "optin": true,
        "optout": true
    }
}